<template>
	<label>
		{{ this.$props.label }}
		<input :name="this.$props.name"
			   :type="this.$props.type"
			   :value="this.$props.value"
			   @input="change($event.target.value)"
		/>
	</label>
</template>

<script>
	export default {
		name: "inputField",
		props: ['value', 'name', 'type', 'label'],
		methods: {
			change: function (change) {
				this.$parent.$emit('inputUpdated', this.$props.name, change);
			}
		}
	}
</script>

<style scoped>
	label {
		display: block;
		margin-bottom: 20px;
	}
	
	input {
		display: block;
		width: 100%;
		margin-top: 10px;
		font-size: 16px;
		padding: 5px;
		border: solid 1px grey;
	}
</style>