<template>
	<router-link  :to="'/chat/' + this.$props.chatId" exact>
		<li>
			<profileImage :size="'small'"/>
			<div class="messageListContent">
				<h3>{{ this.$props.chatName }}</h3>
				<p>Members: </p>
			</div>
		</li>
	</router-link>
</template>

<script>
	import profileImage from '@/components/profileImage'

	export default {
		name: "chatListCard",
		props: ['chatName', 'chatId'],
		components: {
			profileImage
		}
	}
</script>

<style scoped>
	li {
		width: 100%;
		box-sizing: border-box;
		font-size: 20px;
		height: 100px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 2px;
		padding: 0px 20px;
		text-decoration: none;
		font-weight: bold;
		color: black;
	}
	.messageListContent {
		flex-grow: 1;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 0px;
		width: 100%;
		position: relative;
	}
	h3::before {
		content: "";
		background: #d2d2d2;
		width: 100%;
		height: 1px;
		position: absolute;
		top: -20px;
		left: 0;
	}
	a:first-child h3::before {
		display: none;
	}
	p {
		margin-top: 10px;
		font-size: 12px;
		font-weight: lighter;
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
	}
	.profileImage {
		margin-right: 20px;
	}
</style>