<template>
	<div id="chatHeader">
		<router-link to="/" exact>back</router-link>
		<h1>{{ this.$props.chatName }}</h1>
		<div>info</div>
	</div>
</template>

<script>
	export default {
		name: 'chatHeader',
		props: ['chatName']
	}
</script>

<style scoped>
	#chatHeader {
		display: flex;
		justify-content: space-around;
		align-items: center;
		box-shadow: 0 -10px 10px 10px #cacaca;
		z-index: 3;
	}
	a {
		color: black;
		text-decoration: none;
	}
</style>