<template>
	<div id="chatContent">
		<div v-for="chat in getChatStore"
			 :class=" getUserId === chat.userId ? 'message ownMessage' : 'message'"
		>
			<p>{{chat.message }}</p>
		</div>
	</div>
</template>

<script>
	import store from '@/store/index'

	export default {
		name: 'chatContent',
		props: ['chatId'],
		computed: {
			getChatStore () {
				return store.state.chats[this.$props.chatId]['messages']
			},
			getUserId () {
				return store.state.userId
			}
		},
		watch: {
			getChatStore () {
				var element = document.getElementById("chatContent")
				setTimeout(() => {
					element.scroll({
						top: element.scrollHeight,
						left: 0,
						behavior: 'smooth'
					})
				},50);

			}
		}
	}
</script>

<style scoped>
	@keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	#chatContent {
		padding: 10px;
		overflow-y: scroll;
		height: calc(100% - 115px);
	}
	.message {
		text-align: right;
		animation: fadein 0.4s;
	}
	.message.ownMessage {
		text-align:left;
	}
	.message p {
		max-width: 70%;
		display: inline-block;
		background: #00BFFF;
		color: white;
		padding: 3px 15px;
		margin-top: 0;
		border-radius: 10px 0px 10px 10px;
		border: solid 1px #00b6f5;
		box-shadow: #005471 0px 0px 12px -8px;
		text-align: left;
	}

	.message.ownMessage p {
		border-radius: 0px 10px 10px 10px;
	}
</style>