<template>
	<div :class="[this.$props.size, 'profileImage']"></div>
</template>

<script>
	export default {
		name: "profileImage",
		props: ['size']
	}
</script>

<style scoped>
	.profileImage {
		border-radius: 50%;
		background: grey;
	}
	.small {
		width: 40px;
		height: 40px;
	}
</style>