<template>
	<form id="sendBar">
		<input autofocus title='message' :value="messageValue" @input="updateValue($event.target.value)"/>
		<button @click="commitMessage($event)">Send</button>
	</form>
</template>

<script>
	import store from '@/store/index'

	export default {
		name: 'sendBar',
		methods: {
			updateValue: function (value) {
				store.commit(
					'updateMessage',
					value
				)
			},
			commitMessage: function (e) {
				e.preventDefault()
				// I think maybe we should handle this here instead of emitting
				this.$parent.$emit('send');
			}
		},
		computed: {
			messageValue: () => store.state.messageContent
		}
	}
</script>
<style scoped>
	#sendBar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		border-top: solid 1px grey;
		background: white;
		z-index: 3;
	}

	input {
		width: 85%;
		font-size: 18px;
		line-height: 24px;
		padding: 3px 5px;
		border: 0;
		outline: 0;
	}

	button {
		width: 15%;
		border: 0;
		border-left: solid 1px grey;
		background: none;
	}
</style>