<template>
	<div id="app" :class="webSocket ? 'connected' : 'disconnected'">
		<router-view/>
	</div>
</template>

<script>
	import wsApi from '@/websocket/index'
	import store from '@/store/index'

	export default {
		name: 'App',
		computed: {
			webSocket: function () {
				if (store.getters.userData) {
					if (wsApi.methods.wsRequest()) {
						try {
							wsApi.methods.listenToWs()
							return true
						} catch (e) {
							console.log(e)
						}
					}
				}
			}
		}
	}
</script>
<style>
	body {
		margin: 0;
		max-width: 100%;
	}
	* {
		font-family: 'Open Sans', sans-serif;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
</style>
