<template>
	<div class="auth">
		<form>
			<inputField :name="'username'" :type="'text'" :label="'Username'" />
			<inputField :name="'password'" :type="'password'" :label="'Password'" />
			<button @click="auth($event)">Login</button>
		</form>
	</div>
</template>

<script>
	import store from '@/store/index'
	import inputField from '@/components/form/inputField'

	export default {
		name: 'auth',
		components: {
			inputField
		},
		methods: {
			auth(e) {
				e.preventDefault()
				// store.dispatch('postAuth', JSON.stringify({"name": "test", "password": "two"}))
				store.commit(
					'setUserId',
					Math.floor(1000 + Math.random() * 9000) // this is grim and will be replaced by server data
				)
				store.commit(
					'updateAuth',
					true
				)
				this.$router.push('/')
			}
		}
	}
</script>
<style scoped>
	div {
		display: flex;
		align-items: center;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	form {
		padding: 20px;
		flex-grow: 1;
	}
	button {
		width: 100px;
		border: solid 1px grey;
		background: grey;
		padding: 5px;
		float: right;
		color: white;
	}
</style>
