<template>
	<div>
		<div class="title">
			<h1>Chats</h1>
		</div>
		<nav role="navigation">
			<ul>
				<chatListCard v-for="chat in getChatLists" :key="chat.id" :chatId="chat.id" :chatName="chat.name" />
			</ul>
		</nav>
		<router-view></router-view>
	</div>
</template>

<script>
	import store from '@/store/index'
	import chatListCard from '@/components/chatListCard'

	export default {
		name: 'chatList',
		components: {
			chatListCard
		},
		computed: {
			getChatLists () {
				let chats = store.getters.chatList
				let ids = Object.keys(chats)
				let arr = []
				for (let i = 0; i < ids.length; i++) {
					let chat = {
						'id': ids[i],
						'name': chats[ids[i]]['name'],
						'messages': chats[ids[i]]['messages'],
						'notifications': chats[ids[i]]['notifications'],
						'active': chats[ids[i]]['active']

					}
					arr.push(chat)
				}
				return arr
			}
		}
	}
</script>
<style scoped>
	.title {
		box-shadow: 0 -10px 10px 10px #cacaca;
		display: flex;
		justify-content: space-around;
	}
	h1 {
	}
	ul {
		padding-left: 0;
	}
</style>
