<template>
	<div id="chatPane">
		<chatHeader :chatName="chatName" />
		<chatContent :chatId="chatId" />
		<sendBar/>
	</div>
</template>

<script>
	import sendBar from '@/components/sendBar'
	import chatHeader from '@/components/chatHeader'
	import chatContent from '@/components/chatContent'
	import store from '@/store/index'
	import wsApi from '@/websocket/index'

	export default {
		name: 'chatPane',
		components: {
			sendBar,
			chatHeader,
			chatContent
		},
		data() {
			return {
				chatContent: [],
				wsData: {},
				self: this // pretty sure this isn't okay
			}
		},
		created: function() {
			this.$on('send', () => {
				this.send()
			})
		},
		computed: {
			messageFromState: () => store.state.messageContent,
			chatId: (self) => self.$route.params.chatId,
			chatName: (self) => store.state.chats[self.chatId].name
		},
		methods: {
			send: function () {
				if (this.messageFromState === "") {
					return
				}
				let msg = JSON.stringify({
					message: this.messageFromState,
					chatId: parseInt(this.$route.params.chatId, 10),
					userId: store.state.userId,
					date: Date.now()
				})
				wsApi.methods.writeToWs(msg)
				store.commit(
					'updateMessage',
					''
				)
			}
		}
	}
</script>
<style scoped>
	#chatPane {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		background: white;
		animation: slide-in 0.4s ease;
		box-shadow: -9px 20px 7px -9px #cacaca
	}
</style>
