<template>
	<div class="signUp">
		<form>
			<inputField :value="this.username" :name="'username'" :type="'text'" :label="'Username'" />
			<inputField :value="this.email" :name="'email'" :type="'email'" :label="'Email'" />
			<inputField :value="this.password" :name="'password'" :type="'password'" :label="'Password'" />
			<button @click="submit($event)">Login</button>
		</form>
	</div>
</template>

<script>
	import store from '@/store/index'
	import inputField from '@/components/form/inputField'

	export default {
		name: 'signUp',
		components: {
			inputField
		},
		data() {
			return {
				"username": "",
				"email": "",
				"password": ""
			}
		},
		created: function() {
			this.$on('inputUpdated', (inputName, change) => {
				this[inputName] = change
			})
		},
		methods: {
			submit(e) {
				e.preventDefault()
				store.dispatch(
					'postAuth',
					JSON.stringify(
							{
							"name": this.username,
							"password": this.password,
							"email": this.email
							}
						)
				)
			}
		}
	}
</script>
<style scoped>
	div {
		display: flex;
		align-items: center;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	form {
		padding: 20px;
		flex-grow: 1;
	}
	button {
		width: 100px;
		border: solid 1px grey;
		background: grey;
		padding: 5px;
		float: right;
		color: white;
	}
</style>
